# Xcode
.DS_Store
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Build products
build/
DerivedData/

# Swift Package Manager
.swiftpm/

# Carthage
Carthage/Build/

# Pods (if not using CocoaPods for dependency management)
Pods/